/doc
/ext/ruby_prof/Makefile
heap.dump
/nbproject/
/pkg/
/.idea
*.bundle
*.so
/tmp/*
!/tmp/.keep
.*.swp
ipch
.rvmrc
Gemfile.lock
/profile.callgrind.out.*
*.gem
.ruby-version
/ext/ruby_prof/vc/x64
/ext/ruby_prof/vc/.vs
/ext/ruby_prof/vc/ruby_prof.vcxproj.user
/ext/ruby_prof/vc/obj
/ext/ruby_prof/vc/bin
/ext/ruby_prof/mkmf.log
