doc
ext/ruby_prof/Makefile
heap.dump
nbproject/
pkg/
/.idea
*.bundle
*.so
tmp
.*.swp
ipch
examples2
.rvmrc
Gemfile.lock
/profile.callgrind.out.*
*.gem
.ruby-version
/ext/ruby_prof/vc/x64
/ext/ruby_prof/vc/.vs
/ext/ruby_prof/vc/ruby_prof.vcxproj.user
